<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzNEcnnQDDHAqEe6G7GghOM8T0_rGVqKs</string>
	<key>GCM_SENDER_ID</key>
	<string>817869957121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sofiShoes</string>
	<key>PROJECT_ID</key>
	<string>doctor-42fdc</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-42fdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817869957121:ios:5cb14b15891240f07f3800</string>
</dict>
</plist>